[Unit]
Description=Retreive secrets from Azure Keyvault
Before=idp.service
Before=oxauth.service
Before=httpd.service
Before=passport.service
Before=notify.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/azure
ExecStart=/opt/dist/scripts/azure/keyvault.sh $KEYVAULT
User=root
Group=gluu

[Install]
WantedBy=multi-user.target
