@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext');

.fadeimg {
	background-image: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/CRAHQexterior-white.jpg");
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 15px !important;
	padding-bottom: 25px !important;
}



.followus {
	float: none;
	margin-left: 0
}
}
.followus h2 {
	margin: 5px 4px 0 0;
	font-size: 16px !important;
	display: block;
	float: left;
}
.followus ul li a {
	padding: 15px 22px 0;
	border: none;
}
.followus ul li a:hover, .followus ul li a:focus {
	opacity: .6;
	border: none;
}
.followus .email {
	background: url(../images/email.png) no-repeat
}
.followus .facebook {
	background: url(../images/facebook.png) no-repeat
}
.followus .flickr {
	background: url(../images/flickr.png) no-repeat
}
.followus .googleplus {
	background: url(../images/googleplus.png) no-repeat
}
.followus .instagram {
	background: url(../images/instagram.png) no-repeat
}
.followus .linkedin {
	background: url(../images/linkedin.png) no-repeat
}
.followus .periscope {
	background: url(../images/periscope.png) no-repeat
}
.followus .pinterest {
	background: url(../images/pinterest.png) no-repeat
}
.followus .rss {
	background: url(../images/rss.png) no-repeat
}
.followus .twitter {
	background: url(../images/twitter.png) no-repeat
}
.followus .youtube {
	background: url(../images/youtube.png) no-repeat
}

/* still working to clean up unnecessary code */
aside.feature {
	float:right;
	max-width: 300px;
	box-shadow: 0 0 10px #ddd;
	border:0;
	position: absolute;
  bottom: 0;

	}
aside.feature .pstn-tp-xs {background:#fff; padding:4px;}

.featured {
	margin-top:1em;
  margin-bottom: 0em;
	padding-top:20px;
  padding-bottom:20px;
	color:#fff;
	background: #31708f;
	opacity:.8;
/* opacity doesn't actually work in this prototype, but it is meant to be there */


}
.featured  h2 {margin-top:15px; }
.featured img {float:left; margin-right: 15px;}
.featured a {color:#fff}
.home .home-banner {padding-bottom:0;}

@media screen and (max-width: 1200px) {

  .featured {
  	padding-left:.8em;
}

}

.learnmore, .admin {

	font-weight: bold !important;
	text-decoration: underline !important;
}

.admin {

	font-size: 18px !important;
}

ul.feeds-cont li a {
	font-weight: bold;
}
.mr-home {

	font-size: 17px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif !important;

}


/* font size in li of breadcrumb */

.cust-breadcrumb {

	font-size: 16px !important;



}



/* removing padding that pushes content down a lot */



.breadcrumb {

/*	margin-top: 0px !important; */
}




.text-banner {

	color: black;
	margin-top: 8px;


}

.mini-h2s {
	font-size: 1.2em !important;
}
.text-background-1 {

		background-color: white;
		padding-top: 20px !important;
	/*	text-shadow: 2px 2px 4px #111; */

		/* opacity: .95; */

}


.text-background-2 {

		background-color: white;
		padding-bottom: 20px;
	/*	text-shadow: 2px 2px 4px #111; */
		/* opacity: .95; */
}



.edge-color {
    background-color: #f0f0f0;
    display: inline-block;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 15px;

}

.homeborder {

	font-weight: 500 !important;
	font-family: 'Lato', sans-serif;
	border-bottom: 4px solid #af3c43;


}

.canadamenu {

	display: inline-block;
	width: 100%;
	max-height: 100px;
	/* border-bottom: 1px solid #38414d; */
	border-top: 3px solid #38414d;
		margin-top: 10px;
}

.homemenu {

	display: inline-block;
	width: 100%;
	max-height: 100px;
	/* border-bottom: 1px solid #38414d; */
	border-top: 1px solid #ddd;
	margin-top: 10px;
}


.img-banner {

	background-image: url("../../scenarioA/img/CRAHQexterior.jpg");
	background-color: #26374a;
  background-repeat: no-repeat;
  background-size:100% auto;
  width: 100%;
	padding-top: 25px;
	padding-bottom: 0px;


}


section.lnkbx ul {

	padding-top: 15px;
	padding-bottom: 18px;
}




@media screen and (max-width: 800px) {

.btn-call-to-action {

	font-size: 19px !important;
}

.fadeimg {
	background-image: url("none") !important;

}

}

