@import "/oxauth/ext/resources/CDS/global.css";

:root{
    --font-family-header: "Lato", sans-serif;
    --font-family-body: "Noto Sans", sans-serif;
    --font-family-line-height: 150%;
    --body-font-size: 20px;
}

.learn-more{
    border-style: none; 
    text-decoration: underline;
    padding-left: 0px;
}

details[open]{
    border-style: none;
    margin-left: 0px;
}

details[open]>summary{
    border-style: none;
}

details[open]>section{
    border-left: 6px solid var(--gcds-color-grayscale-300);
    padding-left:30px;
    padding-top: 10px;
    margin-left: -20px;
    margin-top: 10px;
}

.mfa-legend-header{
    font-size: 36px; 
    font-family: var(--font-family-header);
    line-height: 122.1%;
    font-weight: bold;
    margin-bottom: 0px;
    padding-left:15px;
}

.mfa-fieldset{
    border-top:0px;
    margin-top:20px;
}

.radio-boxes{
    border: 2px solid var(--gcds-color-grayscale-225);
    border-radius: 10px;
    color: var(--gcds-color-grayscale-1000);
    padding-top:20px;
    padding-left: 20px;
} 

.radio-box-description{
    color: var(--gcds-color-grayscale-950);
}
.security-badge{
    border-radius: 10px;
    font-weight: 600;
    font-family: var(--font-family-body);
}
.security-badge-desktop {
    max-width: 183px;
    min-width: 183px;
}

.security-badge-mobile {
    font-family: var(--font-family-body);
    max-width: 183px;
}

.security-badge-desktop-fr{
    line-height:80%;
    padding-bottom:5px;
    padding-top:5px;
    max-width: 250px;
    min-width: 250px;
}

.security-badge-mobile-fr{
    line-height:80%;
    padding-bottom:10px;
    max-width: 140px;
    min-width: 140px;
}

.lock-icon{
    max-height: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.most-secure{
    background-color: #1F6E1F;
    color: #fff;
    padding-left: 15px;
}

.less-secure{
    background-color: var(--gcds-color-yellow-100);
    border: 4px solid var(--gcds-color-yellow-200);
    padding-left: 30px;
    color: #793916;
}

.least-secure{
    padding: 2px 20px 2px 20px;
    background-color: #F3E9E8;
    border: 4px solid #BC3331;
    color: #870D0D;
}

.continue-alert{
    background-color: #F3E9E8;
    border-left: 2px solid #BC3331;
    min-height: 47px;
    padding-left: 0px;
    vertical-align: middle;
}

/* MFA input styling below */

.mfa-input{
    border: 2px solid black;
    padding-left: 0px;
    width: 100%;
}

.field-name{
    font-size: 20px;
}

.mfa-input-image-desktop{
    padding-right: 30px;
    max-height: 300px;
}

.mfa-input-image-mobile{
    max-height: 170px;
}

.link-text{
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

/* manage account styling below */

.breakline{
    border-bottom: 2px solid #c4c3c5;
    padding-bottom: 30px; 
    padding-left: 0px;
}

.default-label{
    background-color: #F5F5F7;
    /* border-style: 1px solid #DFDFE1; */
    border-style: solid;
    border-width: 1px;
    border-color: #DFDFE1;
    border-radius:4px;
    padding:1px 9px;
}

.registered-mfa{
    margin-right:18px;
}

/* changeoob.xhtml styling below (replace/delete phone number) */

/* manage.xhtml */

.manage-links{
    text-align:right; 
    padding-right:0px;
}

/* othermethod.xhtml styling */

.other-method-form{
    padding-left:15px;
    font-weight: 600;
}

.width-99{
    width:99%;
}

/* base styling below */

h1{
    font-size: 40.5px;
    font-family: var(--font-family-header);
    font-weight:bold;
}

h2{
    font-size: 36px; 
    font-family: var(--font-family-header);
    font-weight: bold;
}

h3{
    font-size: 32px; 
    font-family: var(--font-family-header);
}

h4{
    font-size: 27px; 
    font-family: var(--font-family-header);
}

h5{
    font-size: 24px; 
    font-family: var(--font-family-header);
}

h6{
    font-size: 22px; 
    font-family: var(--font-family-header);
}

.caption{
    font-size: 17.5px;
    font-family: var(--font-family-header);

}

body{
    font-size: var(--gcds-base-font-size);
    font-family: var(--font-family-body);
}

.body{
    font-size: 20px;
    font-family: var(--font-family-body);
    line-height: 1.65em;
}

.success-message{
    background-color: var(--gcds-alert-success-background);
}

section.success-message{
    margin-left: 0px;
}

.success-message>:first-child:not(details){
    padding-bottom:20px; 
    padding-top: 20px; 
    padding-right: 20px;
    padding-left: 10px;
}

.warning-message{
    background-color: var(--gcds-alert-warning-background);
    padding-right: 20px; 
}

.warning-message-content{
    padding-left:10px;
    padding-right:20px;
}

.problem-summary{ 
    border-style: solid; 
    border-width: 6px; 
    border-color: #C24438;
    padding: 0px 20px 30px 20px;
}

.problem-summary-content{
    padding-left: 10px;
    color: #A62A1E;
}

.error-styling{
    line-height:150%; 
    font-weight:400;
}

.page-width{
    max-width: 630px;
}

.link-styling{
    font-size: 20px;
    line-height: 1.3;
    font-family: var(--font-family-body);
    color: var(--gcds-button-primary-default-background);
}

.visited-link-styling:visited{
    color: #284162;
}

.visited-link-styling:visited.visited-link-styling:hover{
    color:#303fc3;
}

.text-link-margin{
    margin-top:40px;
}

.primary-button{
    background-color: var(--gcds-button-primary-default-background);
    color: var(--gcds-button-primary-default-text); 
    min-height: 48px;
    white-space: normal;
    border-radius: 4.16px;
    border-width:0px;
    font-size: var(--body-font-size);
}

.primary-button:hover{
    background-color: var(--gcds-color-blue-700);
}

.primary-button:focus{
background-color: var(--gcds-brand-focus);
box-shadow: inset 0px 0px 0px 3px var(--gcds-color-grayscale-0);
}

.primary-button:active{
background-color: var(--gcds-color-grayscale-1000);
}

.primary-button:hover.primary-button:focus{
background-color: var(--gcds-button-primary-default-background);
box-shadow: inset 0px 0px 0px 3px var(--gcds-color-grayscale-0);
}

.secondary-button{
    background-color: var(--gcds-color-grayscale-0);
    color: var(--gcds-button-secondary-default-text); 
    min-height: 48px;
    white-space: normal;
    border-radius: 4.16px;
    border-width: 2px;
    border-color: var(--gcds-color-blue-700);
    text-align: center;
    margin-bottom: 0px;
    vertical-align: middle;
    font-size: var(--body-font-size);
}

.secondary-button:hover{
    background-color: var(--gcds-button-secondary-hover-background);
}

.secondary-button:focus{
background-color: var(--gcds-brand-focus);
box-shadow: inset 0px 0px 0px 3px var(--gcds-color-grayscale-0);
}

.secondary-button:active{
background-color: var(--gcds-color-grayscale-1000);
}

.secondary-button:hover.primary-button:focus{
background-color: var(--gcds-button-primary-default-background);
box-shadow: inset 0px 0px 0px 3px var(--gcds-color-grayscale-0);
}

.delete-button{
    background-color: #A62A1E;
    color: var(--gcds-button-primary-default-text); 
    min-height: 48px;
    white-space: normal;
    border-radius: 4.16px;
    border-width:0px;
    font-size: var(--body-font-size);
}

.delete-button:hover{
    background-color: #822117;
}

.delete-button:focus{
background-color: var(--gcds-brand-focus);
box-shadow: inset 0px 0px 0px 3px var(--gcds-color-grayscale-0);
}

.delete-button:active{
background-color: var(--gcds-color-grayscale-1000);
}

.delete-button:hover.primary-button:focus{
background-color: var(--gcds-button-primary-default-background);
box-shadow: inset 0px 0px 0px 3px var(--gcds-color-grayscale-0);
}


.min-width-none{
    min-width: none;
}

.secondary-button:hover{
    background-color: var(--gcds-button-secondary-hover-background);
  }

  .secondary-button:focus{
    background-color: var(--gcds-brand-focus);
    box-shadow: inset 0px 0px 0px 3px var(--gcds-color-grayscale-0);
    color: var(--gcds-button-primary-default-text); 
  }

  .secondary-button:active.manage-button:focus{
    background-color: var(--gcds-brand-default-text);
    box-shadow: inset 0px 0px 0px 3px var(--gcds-color-grayscale-0);
  }

.padding-left-0{
    padding-left:0px;
}

.padding-right-0{
    padding-right:0px;
}

.padding-left-30{
    padding-left:30px;
}

.padding-0{
    padding: 0px;
}

.list-style-none{
    list-style:none;
}

h5.warning-message-content{
    padding-top:20px;
}

.container-width{
    max-width:630px;
}

.container-width-900{
    max-width: 900px;
}

.label-font{
    font-weight: 600;
    font-size: 20px;
}

